# Autosave files
*~

# build
/API/[Oo]bj/
/API/[Bb]in/
/API/packages/
/API/TestResults/

# globs
API/Makefile.in
*.DS_Store
/API/*.sln.cache
/API/*.suo
/API/*.cache
/API/*.pidb
/API/*.userprefs
/API/*.usertasks
/API/config.log
/API/config.make
/API/config.status
/API/aclocal.m4
/API/install-sh
/API/autom4te.cache/
/API/*.user
/API/*.tar.gz
/API/tarballs/
/API/test-results/
/API/Thumbs.db
/API/.vs/

# Mac bundle stuff
/API/*.dmg
/API/*.app

# resharper
/API/*_Resharper.*
/API/*.Resharper

# dotCover
/API/*.dotCover

# See http://help.github.com/ignore-files/ for more about ignoring files.

#==========---------ANGULAR IGNORES------===================
# compiled output
/Client/Shopping/dist
/Client/Shopping/tmp
/Client/Shopping/out-tsc

# dependencies
/Client/Shopping/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/Client/Shopping/.idea
/Client/Shopping/.project
/Client/Shopping/.classpath
/Client/Shopping/.c9/
/Client/Shopping/*.launch
/Client/Shopping/.settings/
/Client/Shopping/*.sublime-workspace

# IDE - VSCode
/Client/Shopping/.vscode/*
/Client/Shopping/!.vscode/settings.json
/Client/Shopping/!.vscode/tasks.json
/Client/Shopping/!.vscode/launch.json
/Client/Shopping/!.vscode/extensions.json

# misc
/Client/Shopping/.sass-cache
/Client/Shopping/connect.lock
/Client/Shopping/coverage
/Client/Shopping/libpeerconnection.log
/Client/Shopping/npm-debug.log
/Client/Shopping/yarn-error.log
/Client/Shopping/testem.log
/Client/Shopping/typings

# System Files
/Client/Shopping/.DS_Store
/Client/Shopping/Thumbs.db

